.chart-card{

background:#fff;

padding:25px;

border-radius:18px;

box-shadow:0 8px 25px rgba(0,0,0,0.08);

}


.chart-card h4{

font-size:20px;

font-weight:700;

margin-bottom:5px;

color:#1f2937;

}



.chart-card{

background:white;

padding:25px;

border-radius:18px;

box-shadow:
0 8px 25px rgba(0,0,0,0.08);

}


.chart-header h4{

font-size:20px;

font-weight:700;

margin-bottom:5px;

color:#1f2937;

}


.chart-header p{

font-size:13px;

color:#6b7280;

margin-bottom:20px;

}


.recharts-text{

font-size:12px;

fill:#6b7280;

}