





.destination-wedding-bg {
  background-image: url("../events/front-view-rich-arch-decorated-with-adorable-fresh-roses-flowers.webp");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  position: relative;
  top: -20px;
}



.beach-wedding-bg {
  background-image: url("./blue-white-wedding-aisle-beach-surrounded-by-palms-with-sea-background.webp");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  position: relative;
  top: -20px;
}
.entertainment-bg {
  background-image: url("./entertainment.webp");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  position: relative;
  top: -20px;
}

.private-parties-bg {
  background-image: url("../events/bithday-event-management-kerala-q748lic5phhlw318mu3dlw9vlgzhycwj19nbptnriw.webp");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  position: relative;
  top: -20px;
}

