.register-box{
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}


.register-form{
width:350px;
display:flex;
flex-direction:column;
gap:15px;
}


.register-input{
padding:12px;
border-radius:8px;
border:1px solid #ccc;
}


.register-btn{
padding:12px;
background:#111;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}