.booking-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 50px 0;
}


.booking-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #222;
}


/* Booking Card */

.booking-card {
    display: flex;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.12);
    transition: 0.3s ease;
}


.booking-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.18);
}


/* Venue Image */

.booking-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    flex-shrink: 0;
  
    margin: 55px;
}


/* Details */

.booking-details {
    padding: 30px;
    flex: 1;
}


.booking-details h3 {
    font-size: 26px;
    font-weight: 700;
    color: #7b2cbf;
    margin-bottom: 20px;
}


.booking-details p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}


.booking-details strong {
    color: #222;
}


/* Status */

.pending {
    background: #fff3cd;
    color: #856404;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 600;
}


.confirmed {
    background: #d1e7dd;
    color: #0f5132;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 600;
}


.cancelled {
    background: #f8d7da;
    color: #842029;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 600;
}


.completed {
    background: #cff4fc;
    color: #055160;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 600;
}


/* Empty */

.booking-container h4 {
    text-align: center;
    color: #777;
    margin-top: 50px;
}


/* Mobile */

@media(max-width:768px){

    .booking-container{
        width:95%;
    }


    .booking-card{
        flex-direction: column;
    }


    .booking-image{
        width:100%;
        height:220px;
    }


    .booking-details{
        padding:20px;
    }


    .booking-details h3{
        font-size:22px;
    }

}