.booking-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.booking-title {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 40px;
}

.booking-card{
    display:grid;
    grid-template-columns:320px 1fr 320px;
    gap:25px;
    background:#fff;
    border-radius:20px;
    padding:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.12);
     margin-bottom: 40px;
}

.booking-left{
  background:#fafafa;
  padding:20px;
}

.booking-image{
  width:100%;
  height:220px;
  object-fit:cover;
  border-radius:12px;
}

.additional-package{
  margin-top:20px;
  padding:15px;
  background:#fff;
  border-radius:12px;
  border:1px solid #ececec;
}

.additional-package h4{
  color:#6f42c1;
  margin-bottom:15px;
  font-size:18px;
}

.additional-package p{
  margin:8px 0;
  font-size:14px;
}

.booking-details{
  padding:30px;
}

.booking-details h3{
  color:#6f42c1;
  font-size:30px;
  margin-bottom:20px;
}

.booking-details p{
  display:flex;
  justify-content:space-between;
  padding:12px 15px;
  margin-bottom:10px;
  background:#f8f9fa;
  border-radius:8px;
}

.booking-details strong{
  color:#222;
}

.pending,
.confirmed,
.cancelled{
  padding:6px 14px;
  border-radius:20px;
  font-size:14px;
}

.pending{
  background:#fff3cd;
  color:#856404;
}

.confirmed{
  background:#d1e7dd;
  color:#146c43;
}

.cancelled{
  background:#f8d7da;
  color:#b02a37;
}

@media(max-width:900px){

.booking-card{
    grid-template-columns:1fr;
}

.booking-details{
    padding:20px;
}

}