.private-parties-bg {
  height: 80vh;
  background:
  linear-gradient(
    rgba(0,0,0,0.55),
    rgba(0,0,0,0.55)
  ),
  url("../dj-spinning-mixing-scratching-track-controls-dj-s-deck-strobe-dj-music-club-life-concept.webp");

  background-size: cover;
  background-position: center;
}


.text-para {
  font-size: 18px;
  line-height: 1.8;
}


h1 {
      color: #FFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 45px;
    font-weight: 700;
}



@media(max-width:768px){

  h1 {
    font-size: 32px;
  }

  .text-para {
    font-size: 16px;
  }

}