/* Location.css */

.location-section {
  background: #f5f5f5;
  padding: 80px 40px;
}

.location-container {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: start;
}

/* LEFT SIDE */

.location-left {
  width: 100%;
}

.city-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.city-buttons button {
  border: none;
  padding: 14px 30px;
  border-radius: 40px;
  background: #e5e5e5;
  color: #444;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
}

.city-buttons button:hover {
  background: #6d3f98;
  color: #fff;
}

.city-buttons button.active {
  background: #6d3f98;
  color: #fff;
}

/* MAP */

.map-box {
  width: 100%;
  height: 380px;
  border-radius: 12px;
  overflow: hidden;
  background: #ddd;
}

.map-box iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

/* RIGHT SIDE */

.location-right {
  width: 80%;
  margin: 60px;
}

.location-form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.location-form input,
.location-form textarea {
  width: 100%;
  padding: 18px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  background: #fff;
}

.location-form textarea {
  resize: none;
}

.location-form button {
  width: 160px;
  height: 55px;
  border: none;
  border-radius: 4px;
  background: #6d3f98;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.location-form button:hover {
  background: #5a2f81;
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .location-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {

  .location-section {
    padding: 60px 20px;
  }

  .city-buttons {
    justify-content: center;
  }

  .city-buttons button {
    padding: 12px 24px;
    font-size: 14px;
  }

  .map-box {
    height: 300px;
  }

  .location-form button {
    width: 100%;
  }
}