.statistics-section {
  color: #fff;
  padding: 60px 0;
}


.statistics-number {
  font-size: clamp(32px, 5vw, 69px);
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}


.statistics-label {
  color: #766d6d;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 1.5vw, 22px);
}


/* Mobile */
@media (max-width: 576px) {

  .statistics-section {
    padding: 40px 0;
  }

  .statistics-number {
    font-size: 36px;
  }

  .statistics-label {
    font-size: 13px;
  }

}


/* Tablet */
@media (min-width: 577px) and (max-width: 1024px) {

  .statistics-number {
    font-size: 50px;
  }

  .statistics-label {
    font-size: 17px;
  }

}


/* Large Desktop */
@media (min-width: 1440px) {

  .statistics-number {
    font-size: 70px;
  }

  .statistics-label {
    font-size: 22px;
  }

}


/* 2K Screens */
@media (min-width: 2560px) {

  .statistics-number {
    font-size: 110px;
  }

  .statistics-label {
    font-size: 28px;
  }

}


/* 4K Screens */
@media (min-width: 3840px) {

  .statistics-number {
    font-size: 150px;
  }

  .statistics-label {
    font-size: 40px;
  }

}